
.header{
    display: flex;
    height: 8%;
    z-index: 2;
    justify-content: space-between;
    position: fixed;
    left: 0;
    background-color: white;
    top: 0;
    width: 100%;
}
body{
    padding-top: 5%;
}
.left{
    width: 200px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    background-color: white;
}
.middle{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin-left: 60px;
    margin-right: 35px;
}
.sidebar menu{
    width: 36px;
    color: white;
}
.input{
    width: 0;
    flex-grow: 1;
    flex-shrink: 5;
    vertical-align: middle;
    height: 30px;
    padding-left: 10px;
    border-color: gray;
    border-width:1px ;
    box-shadow: 0.5px 0.5px 1000px gray;
}
input::placeholder{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.search1{
    height: 30px;
    margin-left: -5px;
    width: 45px;
    vertical-align: middle;
}
*{
    margin: 0;
    padding: 0;
   
}
.search2{
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
.buttonsearch2{
    height: 30px;
    width: 30px;
    padding: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.right{
    width: 200px;
    justify-content: space-between;
    display: flex;
    margin-right:15px;
    align-items: center;
}

.icon4{
    background-color: purple;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:medium;
    font-size: large;
    color:white;
}
.buttonsearch{
    height: 30px;
    margin-right: 9px;
    display: flex;
    justify-content: center;padding-left:5px;
    align-items: center;
    border-width:1px;
    border-color: gray;
}

